In [2]:
# Question 1: Compute the euclidean distance between series (points) p and q, without using a packaged formula

import pandas as pd
# Given series
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# to get value of squared differences 
squared_diff = (p-q) ** 2

# sum the squared differences and then take the square root. (** 0.5 = sq. root)
euclidean_distance = squared_diff.sum() ** 0.5
print(euclidean_distance)

18.16590212458495

In [3]:
#Question 2: original dataframe
import numpy as np
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [4]:
# Question 2: Change the order of columns of a dataframe. Interchange columns 'a' and 'c'.
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Interchanging the columns a and c
swapped_df = df[['c', 'b', 'a', 'd', 'e']]
swapped_df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [7]:
# Qestion 3: Change the order of columns of a dataframe.  Create a generic function to interchange two columns, without hardcoding column names.

def swap_cols_loc(df, col1, col2):
# create a copy to avoid modifying original dataframe
    df = df.copy() 
    df[col1], df[col2] = df[col2].copy(), df[col1].copy()
    return df

# Example, swap cols a and c
df_swapped_loc = swap_cols_loc(df, 'a', 'c')
df_swapped_loc

    a   b   c   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [8]:
# Question 4: Format or suppress scientific notations in a pandas dataframe. 
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
pd.set_option('display.float_format', None)

df   #without supressing scientific notation

         random
0  1.273628e-02
1  7.366463e-13
2  3.985055e-04
3  5.651414e-05

In [9]:
# Question 4
# supress scientific notation in pandas dataframe
pd.set_option('display.float_format', '{:.4f}'.format)

df   #supressing scientific notation

   random
0  0.0127
1  0.0000
2  0.0004
3  0.0001

In [10]:
# Question 5: Create a new column that contains the row number of nearest column by euclidean distance
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
# Calculate pairwise Euclidean distance between rows
distances = np.sqrt(((df.values - df.values[:, np.newaxis])**2).sum(axis=2))

# fill diagonal with large values to exclude self-comparision
np.fill_diagonal(distances, np.inf)

# Get the index of the minimum value (i.e., shortest distance) in each row
nearest_rows = distances.argmin(axis=1)

# Map indices to row labels
df['NEAREST_ROW'] = df.index[nearest_rows]

# Get the minimum distance value for each row (ignoring diagonal)
df['DIST'] = distances.min(axis=1)
print(df)

    p   q   r   s NEAREST_ROW    DIST
a  11   9  34  69           e 49.0510
b  17  99  83  39           f 38.2361
c  75  84  49  17           i 54.0555
d  36  51  89  86           h 40.1622
e  10  27  75  49           f 48.5489
f  28  69  62  39           i  8.7750
g  71  26  38  59           h 53.6936
h  48  49  53  99           d 40.1622
i  26  69  59  31           f  8.7750
j  94   1  82  95           g 66.2269

In [11]:
# Question 6: Correlation 
data = {'A': [45, 37, 0, 42, 50],
        'B': [38, 31, 1, 26, 90],
        'C': [10, 15, -10, 17, 100],
        'D': [60, 99, 15, 23, 56],
        'E': [76, 98, -0.03, 78, 90]
        }

df = pd.DataFrame(data)

# create correlation matrix
correlation_matrix = df.corr()
print(correlation_matrix)

# Observations: 
# The diagonal values are all 1.0000. because, any variable has perfect corelation with itself.
# off-diagonal values: example: 0.7560 present in Row A: column B and  Row B: column A represent corelation between A and B

       A      B      C      D      E
A 1.0000 0.7560 0.6244 0.4938 0.9286
B 0.7560 1.0000 0.9667 0.3636 0.6496
C 0.6244 0.9667 1.0000 0.2189 0.5281
D 0.4938 0.3636 0.2189 1.0000 0.7202
E 0.9286 0.6496 0.5281 0.7202 1.0000